<h1>Editing candidate</h1>

<%= render 'form' %>

<%= link_to 'Show', @candidate, class: "btn btn-small btn-success active" %> |
<%= link_to 'Back', candidates_path, class: "btn btn-small btn-primary active" %>
